.number{
    text-align: center;
}
.order {
  max-width: 640px;
  margin: 0 auto;
}
.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
  padding-right: 24px;
  max-height: 320px;
  overflow-y: auto;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: 8px;
}
.ingredients::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}
.ingredients::-webkit-scrollbar-thumb {
  background: #8585ad;
}
.ingredientRow {
  display: flex;
  align-items: center;
}
.image {
  height: 64px;
  width: 64px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  background-color: black;
}
.imageBorder {
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 50%;
  padding: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.price {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.totalPrice{
    display: flex;
    align-items: center;
    gap: 8px
}