.tabs {
  display: flex;
}
.groups {
  max-height: 70vh;
  overflow-y: scroll;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: 8px;
}
.groups::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #2f2f37;
}
.groups::-webkit-scrollbar-thumb {
  background: #8585ad;
}
