.tabs {
  display: flex;
}
.groups {
  max-height: 70vh;
  overflow-y: scroll;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: 8px;
}

  
  /* Demonstrate a "mostly customized" scrollbar
   * (won't be visible otherwise if width/height is specified) */
  .groups::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #2F2F37; /* or add it to the track */
  }
  
  /* Add a thumb */
  .groups::-webkit-scrollbar-thumb {
    background: #8585AD;
  }
.heading {
}
