.container{
    text-align: center;
    padding-top: 180px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
}
.link{
    text-decoration: none;
}
.field{
    border: none;
    margin-bottom: 24px;
}
.button{
    border: none;
    margin-bottom: 80px;
}