.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nutrions{
    display: flex;
    gap: 20px;
}
.nutrion{
    display: flex;
    flex-direction: column;
    align-items: center;
}